@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
--white: hsl(0, 0%, 100%);
--change-hover: hsl(243, 65%, 73%);
--payment-hover: 	hsl(245, 83%, 68%);
}

/*Weights: 500, 700, 900*/   /*mobile: 327 x 567*/
html {
    height: 900px;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    height: 100%;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 450px;
    transition: all 1s ease-out;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 30px -20px hsl(184, 9%, 62%);
    border-radius: 20px;
}

.container .illustration {
 width: 100%;
 height: 100%;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
}
.container .illustration-mobile {
    display: none;
}

.container__items {
    width: 100%;
    padding: 44px 48px 48px 48px;
    background-color: var(--white);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 1.844rem;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: var(--dark-blue);
    margin-bottom: 18.5px;
}

.container__items .description {
    font-size: 1rem;
    color: var(--desaturated-blue);
    text-align: center;
    margin-bottom: 22px;
    margin-left: 1px;
    line-height: 25px;
}

.container__items-plan {
    width: 100%;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 24px 26px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__items-plan div:first-child {
    width: 155px;
    display: flex;
    align-items: center;
}


.container__items-plan div:first-child div:first-of-type{
    margin-right: 17.77px;
    width: 48px;
}

.container__items-plan div:first-child div:last-of-type {
  display: flex;
  flex-direction: column;
}

.container__items-plan div:first-child div:last-child p {
    font-size: 1rem;
    color: var(--dark-blue);
    font-weight: 700;
    padding-bottom: 5.5px;
}

.container__items-plan div:last-child p + span {
    color: var(--desaturated-blue);
    font-weight: 500;
}

.container__items-plan div:last-child p > a {
  font-size: .8438rem;
  color: var(--bright-blue);  
  font-weight: 900; 
}

.container__items-plan div:last-child p > a:hover {
    color: var(--change-hover);
    text-decoration: none;
}

.container__payment {
    width: 100%;
    background-color: var(--bright-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    text-align: center;
    padding: 14px 0;
    margin-bottom: 30.5px;
    font-weight: 700;
    box-shadow: 0px 10px 30px -8px hsl(224, 23%, 75%);
}

.container__payment:hover {
    background-color: var(--payment-hover);
    cursor: pointer;
    border-color: hsl(250, 93%, 60%);
  }

.container__payment p > a {
  text-decoration: none;
  color: var(--white);
}

.container__payment + p {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.container__payment + p > a {
    text-decoration: none;
    color: var(--desaturated-blue);
    font-weight: 700;
}

.container__payment + p > a:hover {
   color: var(--dark-blue);
}







@media (max-width: 450px) {

    html {
        height: 709px;
    }

    body, main {
        height: 100%;
    }

    .container {
        max-width: 327px;

    }

    .container .illustration {
        display: none;
    }
       .container .illustration-mobile {
           display: block;
           max-width: 100%;
           height: 100%;
           border-top-left-radius: 20px;
           border-top-right-radius: 20px;
    }


    .container__items {
        padding: 32px 24px 24px 24px;
    }


    h1 {
        font-size: 1.4375rem;
        margin-bottom: 16px;
    }

    .container__items .description {
        font-size: .9375rem;
        margin-bottom: 25px;
        margin-left: 0;
        padding: 0 15px;
    }

    .container__items-plan {
        width: 100%;
        padding: 16.5px 15px;
        margin-bottom: 23px;
    }

    .container__items-plan div:first-child div:first-of-type{
        margin-right: 20.77px;
        width: 48px;
    }

    .container__items-plan div:first-child div:last-child p {
        font-size: .8125rem;
        padding-bottom: 5.5px;
    }

    .container__items-plan div:last-child p + span {
        font-size: .8125rem;
    }

    .container__payment {
        width: 100%;
        border: none;
        margin-bottom: 24.5px;
        font-weight: 500;
    }

    .container__payment + p {
        font-size: .9688rem;
        padding-bottom: 6.65px;
    }

}